*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('{{ url_for('static', filename = 'HelveticaNeueLTStd-ThCn.otf') }}') format('opentype'),
       url('{{ url_for('static', filename = 'HelveticaNeueLTStd-ThCn.svg#svgFontName') }}') format('svg');
}

@font-face {
  font-family: 'ONEDAY';
  src: url('{{ url_for('static', filename = 'img/ONEDAY.ttf') }}')  format('truetype'),
       url('{{ url_for('static', filename = 'img/ONEDAY.svg#svgFontName') }}') format('svg');
}

* {
  font-family: 'Helvetica Neue LT Std';
}

/*.myride {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
*/
.content {
    height: 100%;
    display: grid;
    grid-template-rows: 20% 13% 22% 20% 26%;
    margin-left: 100px;                            
}

.header-title {
  font-family: 'ONEDAY';
  font-size: 64px;
  color: white;
  letter-spacing: 2.2px;
}

.subtitle {
  color: white;
  font-size: 32px;
  letter-spacing: 1.2px;
}

#contact-form {
}

.input-field {
  box-sizing: border-box;
  background: white;
  outline: none;
  height: 30px;
  width: 344px;
  border: none;
  margin: 5px 5px 5px 0px;
  padding-left: 11px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  vertical-align: center;
}
::-moz-placeholder {
  vertical-align: center;
}
:-ms-input-placeholder {
  vertical-align: center;
}
:-moz-placeholder {
  vertical-align: center;
}

input,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
.input-field {
-webkit-appearance: none;
border-radius: 0;
}

.notify-btn {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #4A4A4A;
  color: white;
  height: 40px;
  width: 344px;
  font-size: 16px;
  border: none;
  margin: 5px 5px 5px 0px;
  outline: none;
}

.loading{
  width:100vw;
  height: 100vh;
  background-color: white;
}
