<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <script src="{{ url_for('static', filename = 'js/pace.js') }}"></script>
        <link href="{{ url_for('static', filename = 'css/pace-theme.css') }}" rel="stylesheet" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/myride_logo.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>MyRide | Coming Soon</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110138744-1"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename = 'js/googleAnalytics.js') }}" type="text/javascript"></script>
        <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
        <style>
            body {
              background-image: url('{{ url_for('static', filename = 'img/background.png') }}');
              background-repeat: none;
              background-size: cover;
              font-family: "Lato", sans-serif;
              font-weight: 400;
              font-size: 1.6rem;
              line-height: 1.7;
              color: #777;
              padding: 0rem;
            }
        </style>
    </head>
    <body>
        <div class="loading">
        </div>
        <div class="myride">
            <div class="columns">
                <div class="background">
                    <div class="left">
                        <div class="left-title">
                            <div class="left-title-header">
                                COMING SOON!
                            </div>
                             <div class="left-subtitle" id="left-sub">
                                Sign up for updates<br>using the form below.
                             </div>
                        </div>
                        <form id="contact-form">
                          <input 
                            class="input-field" 
                            type="text" 
                            name="username"
                            placeholder="Name" 
                          /><br>
                          <input 
                            class="input-field" 
                            type="email" 
                            name="email"
                            placeholder="Email" 
                          /><br>
                          <input 
                            class="notify-btn"
                            type="submit" 
                            value="NOTIFY ME!" 
                          />
                        </form>
                    </div>
                </div>
                <div class="right">
                        <img src="{{ url_for('static', filename = 'img/myride_logo.svg') }}"/>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename = 'js/index.js') }}" type="text/javascript"></script>
    </body>
</html>
